*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html {
    //1rem is equal
    font-size: 62.5%;
    @include responsive(tab-land) {
        font-size: 56.25%;
    }

    @include responsive(tab-port) {
        font-size: 50%;
    }

    @include responsive(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-grey-light-2;
    @include responsive(tab-port) {
        padding: 0;
    }
}