.main-title {
    color: #2c2d2f !important;
    margin-top: 0.5rem;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
}
.jumbo-text {
    padding: 2rem;
    margin-top: 2rem;
}
.jumbo-text>p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
}
.main-subtitle {
    color: #2c2d2f !important;
    font-family: 'Dosis', sans-serif;
}
.bg-image{
    max-height:60rem;
    width: auto;
    overflow: hidden;
    margin-top: 2rem;
  }
@media only screen and (max-width : 1199px) {
    .main-title {
        margin-top: 1rem;
        font-size: 4rem;
    }
    .main-subtitle {
        font-size: 2rem;
    }
    .bg-image{
        width: 100%;
        overflow: hidden;
        margin-top: 1rem;
      }
      jumbo-text>p{
        font-size: 15rem;
    }
  }
  @media only screen and (max-width : 889px) {
    .main-title {
        margin-top: 1rem;
        font-size: 3rem;
    }
    .main-subtitle {
        font-size: 2rem;
    }
    jumbo-text>p{
        font-size: 10rem;
    }
  }
  @media only screen and (max-width : 449px) {
    .main-title {
        margin-top: .5rem;
        font-size: 3rem;
    }
    .main-subtitle {
        font-size: 2rem;
    }
    .bg-image{
        width: 100%;
        overflow: hidden;
        margin-top: .5rem;
      }
      jumbo-text>p{
        font-size: regular;
    }
  }
  .jumbo-class {
    background: #dddfde !important;
  }
  .jumbo__line1{
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
  }
  .jumbo-line2 {
      font-size: 3.5rem !important;
      display: block;
  }
  