.navbar-collapse {}

.navbar-header {}

.navbar-header>a,
.link-to {}

.navbar-default {
    background-color: #2B3977 !important;
    color: white !important;
}

.link-to:hover,
.link-to:active {}

#navbar-custom {
    background-color: #2B3977 !important;
}

#li-button {
    position: relative;
}

#navbar-name {
    color: white !important;
    text-decoration: none;
}