.carousel-class h3 {
    color: #fff;
    padding: 2rem;
}
.carousel-class {
    position: relative;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    right: 5%;
    
}
.carousel-caption > h3 {
    text-shadow: 2px 2px 4px #000;
}