.cert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include responsive(tab-port) {
        flex-direction:column;
        justify-content:center;
    }
    &__card {
      padding:.5rem;
      margin: 2rem;
      flex: 1 1 30%;
        &-image{

        }
        &-text {
            color: $color-white !important;
        }
    }
    &__heading {
        color: $color-primary;
        text-align: center;
        margin: 3rem 5rem;
        transition: all .2s;
        &:hover {
            transform: scale(1.1);
            font-size: 3rem;
            font-weight: 300;
        }
    }
}
