.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.heading-secondary {
    @include shadow-text-white;
}
.card {
    //Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 65rem;
    @include responsive(tab-port) {
        padding: 2rem;
    }
    &__image {
        max-height:20rem;
        width: 100%;
        @include responsive(tab-port) {
            height:30rem;
        }
    }
    &__text{
        &-booking{
            text-align: center;
            color: $color-black;
            padding: 2rem 1rem;
        }
        &-heading2 {
            padding: 2rem;
            text-align: center;
        }
        &--li {
            padding: 3px;

        }
        &--ul {
            list-style-type: none;
        }
    }
     
    &__side {
        height: 65rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &--front {
            background-color: $color-white;
        }
    }
    
    //Front side styling
    &__picture {
        background-size: cover;
        height: 30rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        @include responsive(tab-port) {
            background-size: 50% auto;
            
        }
        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .4), rgba($color-secondary-dark, .4)), url(./images/photo1.jpg);
        }
        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .4), rgba($color-tertiary-dark, .4)), url(./images/photo2.jpg);
        }
        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)), url(./images/photo3.jpg);
        }
        
    }
    &__heading {
        font-size: 2.5rem;
        font-weight: 500;
        color: $color-white;
        position: absolute;
        top: 1rem;
        right: 2rem;
        text-align: right;
        width: 80%;
        @include responsive(tab-port) {
            right: 6rem;
            font-size: 3rem;
            
        }

    }
    &__heading-span {
        @include shadow-text;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .5), rgba($color-secondary-dark, .5));
        }
        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .5), rgba($color-tertiary-dark, .5));
        }
        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .5), rgba($color-primary-dark, .5));
        }
        
    }
    &__detail {
        padding: 3rem;
        margin: 0 auto;
        p {
            width: 80%;
            text-align: center;
            font-size: 2rem;
            padding: 2rem;
            margin: 0 auto;
        }
    }
    
}