.cons__class {
    height: 70vh;
    background-image: linear-gradient( to right bottom, rgba($color-grey-light-2, 0.6), rgba($color-grey-dark-2, 0.6)), url(./images/photo4.jpg);
    background-size: 100%;
    background-position: bottom;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
    
}
.cons__heading {
    @include position-center;
    @include shadow-text;
    &-text {
        color:$color-white;
    }
}