/*
0 - 600px : Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px : normal style
1800px + : Big desktop

$breakpoint argument
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 990px) {
    html {
      font-size: 50%; } }
  @media (min-width: 112em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #cfcfcf; }
  @media (max-width: 990px) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 990px) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 990px) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-xl {
  margin-top: 12rem !important; }

.story {
  position: relative;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 990px) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__main {
    text-shadow: 2px 2px 4px #fff; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__image {
    width: 100%;
    transform: scale(1.2);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(1px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover !important; }

.btn__text:link, .btn__text:visited {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .3s;
  color: #380552;
  font-size: 2.6rem; }

.btn__text:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.2) translateY(-3px); }

.btn__text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.heading-secondary {
  text-shadow: 2px 2px 4px #fff; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 65rem; }
  @media (max-width: 990px) {
    .card {
      padding: 2rem; } }
  .card__image {
    max-height: 20rem;
    width: 100%; }
    @media (max-width: 990px) {
      .card__image {
        height: 30rem; } }
  .card__text-booking {
    text-align: center;
    color: #000;
    padding: 2rem 1rem; }
  .card__text-heading2 {
    padding: 2rem;
    text-align: center; }
  .card__text--li {
    padding: 3px; }
  .card__text--ul {
    list-style-type: none; }
  .card__side {
    height: 65rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
  .card__picture {
    background-size: cover;
    height: 30rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    @media (max-width: 990px) {
      .card__picture {
        background-size: 50% auto; } }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, rgba(147, 245, 178, 0.4), rgba(29, 139, 64, 0.4)), url(./images/photo1.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, rgba(253, 164, 122, 0.4), rgba(107, 49, 22, 0.4)), url(./images/photo2.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, rgba(12, 183, 204, 0.4), rgba(56, 5, 82, 0.4)), url(./images/photo3.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 2rem;
    text-align: right;
    width: 80%; }
    @media (max-width: 990px) {
      .card__heading {
        right: 6rem;
        font-size: 3rem; } }
  .card__heading-span {
    text-shadow: 2px 2px 4px #000000;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(147, 245, 178, 0.5), rgba(29, 139, 64, 0.5)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(253, 164, 122, 0.5), rgba(107, 49, 22, 0.5)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(12, 183, 204, 0.5), rgba(56, 5, 82, 0.5)); }
  .card__detail {
    padding: 3rem;
    margin: 0 auto; }
    .card__detail p {
      width: 80%;
      text-align: center;
      font-size: 2rem;
      padding: 2rem;
      margin: 0 auto; }

.steps {
  color: #f7f7f7; }
  .steps__heading {
    color: #6b3116;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s; }
    .steps__heading:hover {
      transform: scale(1.1) translateY(10px); }
    .steps__heading-sp1 {
      display: block;
      font-size: 110%; }
    .steps__heading-sp2 {
      display: block; }
    .steps__heading-2 {
      padding: 3px;
      margin: 2px;
      color: #fff;
      display: inline-block;
      width: 40%; }
      .steps__heading-2-e1 {
        color: #2E1965; }
      .steps__heading-2-e2 {
        color: #1d8b40; }
      .steps__heading-2-e3 {
        color: #6b3116; }
      .steps__heading-2-e4 {
        color: #380552; }
      .steps__heading-2-e5 {
        color: #2E1965; }
        @media (max-width: 990px) {
          .steps__heading-2-e5 {
            text-shadow: 2px 2px 4px #000000;
            width: 90%; } }
      .steps__heading-2-e6 {
        text-shadow: 2px 2px 4px #fff;
        transition: all .3s; }
        @media (max-width: 990px) {
          .steps__heading-2-e6 {
            width: 90%;
            text-align: center;
            display: block;
            font-size: 150%; } }
      .steps__heading-2-pos {
        width: 60%; }
        @media (max-width: 75em) {
          .steps__heading-2-pos {
            font-size: 2.5rem; } }
        @media (max-width: 990px) {
          .steps__heading-2-pos {
            display: block;
            color: white;
            text-align: center;
            width: 100%; } }
      @media (max-width: 990px) {
        .steps__heading-2 {
          display: block;
          color: white;
          padding: 2rem;
          text-align: center; } }
  .steps__step {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 30%, transparent 30%);
    background-size: cover;
    margin-bottom: 2rem; }
    @media (max-width: 990px) {
      .steps__step {
        background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); } }
    .steps__step-e1 {
      background-color: #2E1965; }
    .steps__step-e2 {
      background-color: #1d8b40; }
    .steps__step-e3 {
      background-color: #6b3116; }
    .steps__step-e4 {
      background-color: #380552; }
  .steps__block {
    display: inline-block;
    position: relative;
    width: 55%; }
    @media (max-width: 990px) {
      .steps__block {
        width: 90%;
        padding-left: 3rem; } }
    .steps__block-price p {
      color: #000;
      padding: .5rem;
      border-radius: 2rem;
      background-color: #fff;
      display: inline-block;
      transition: all .3s; }
      .steps__block-price p:hover {
        transform: scale(1.05) translateY(2px); }

.cert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 990px) {
    .cert {
      flex-direction: column;
      justify-content: center; } }
  .cert__card {
    padding: .5rem;
    margin: 2rem;
    flex: 1 1 20%; }
    .cert__card-text {
      color: #fff !important; }
  .cert__heading {
    color: #2E1965;
    text-align: center;
    margin: 3rem 5rem;
    transition: all .2s; }
    .cert__heading:hover {
      transform: scale(1.1);
      font-size: 3rem;
      font-weight: 300; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.6), rgba(119, 119, 119, 0.6));
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 85vh, 0% 100%);
  clip-path: polygon(0% 0%, 100% 5%, 100% 85vh, 0% 100%); }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header--logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header--logo {
    height: 100px; }

.section-testimonials {
  position: relative; }

.jumbo-class {
  background-image: linear-gradient(135deg, #380552, #2E1965 70%, #0CB7CC); }

.about-carousel-heading {
  margin: 1rem auto !important;
  padding-left: 2rem !important;
  text-shadow: 2px 2px 4px #000000; }

.aboutme-div {
  max-height: 500px; }

.aboutme-list {
  list-style-type: none !important;
  padding-left: 2rem; }
  @media (max-width: 990px) {
    .aboutme-list {
      margin-top: 2rem; } }

.aboutme-list-item {
  color: #380552;
  font-weight: 600;
  line-height: 2.5rem; }
  @media (max-width: 990px) {
    .aboutme-list-item {
      line-height: 3rem;
      font-weight: 800; } }

.about-desc-item:first-child {
  padding-top: 2rem !important; }

.cons__class {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(207, 207, 207, 0.2), rgba(153, 153, 153, 0.2)), url(./images/photo4.jpg);
  background-size: 100%;
  background-position: top;
  position: relative; }

.cons__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #000000; }
  .cons__heading-text {
    color: #fff; }
