.iframe-class {
    background-color: white;
    width:600px;
    height:450px;
}
@media only screen and (max-width : 1199px) {
    .iframe-class {
        width:500px;
        height:350px;
    }
}
@media only screen and (max-width : 889px) {
    .iframe-class {
        width:400px;
        height:400px;
    }
}
@media only screen and (max-width : 449px) {
    .iframe-class {
        width:300px;
        height:300px;
    }
}